body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

nav { 
  margin-bottom: 20px;
}

#book-image {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}
img {
  max-width: 200px;
}

.pointer-image {
    cursor: pointer;
}

#description {
  text-align: center;
}
